#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export PBR_VERSION=$(shell dpkg-parsechangelog --show-field Version)
%:
	dh $@  --with python2

override_dh_auto_test:
	testr init && testr run

get-orig-source:
	uscan --verbose --force-download --rename --destdir=../build-area
